
{% extends 'base.html' %}


{% block title %} 

<title>404 page not found!</title>

{% endblock %}



{% block body %}

<div class="container" style="padding:40px;">


    <div class="row">
    <div class="col-sm-3">

    </div>


    <div class="col-sm-6">
        <img width="200" src="https://cdn.pixabay.com/photo/2018/07/24/18/41/pugs-3559786_1280.png" alt="">

        <h3>Something went wrong!!</h3>
    
        <a href="/">Go to Home Page</a>
    </div>


    <div class="col-sm-3">

    </div>


    </div>


</div>

{% endblock %}