{% extends 'base.html' %}


{% block title %} 

<title>Welcome to our Poll Project</title>

{% endblock %}



{% block body %} 



<div class="container" style="padding: 16px;">
    <h4> You are in Poll World!!  </h4>

    <div class="row">
      
        {% for question in questions %}


      <div class="col-sm-4">
         

        <div class="ms-card">
            <div class="ms-card-pic">
                <a href="/poll/{{ question.id }}">
                    <img src="https://picsum.photos/600/400" alt="...">
                </a>
            </div>
            <div class="ms-card-title">
                <h4>{{question.text}}</h4>
                <span>{{question.author.username}}</span>
            </div>

            <!-- <div class="ms-card-btn">
                <button class="ms-btn ms-outline">Read</button>
            </div> -->
        </div>
      </div>


        {% endfor %}









    </div>
</div>




{% endblock %}

